.home{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Existencias{
    width: 83%;
    align-items: center;
    justify-content:center;
}

.home .Exis img{
    width: 30%;
    height: 80%;
}
.home .verExis{
    margin:1em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(19em,1fr));
    background-color: rgb(55, 128, 128);
    border-radius: 10px;
}
.home .Exis {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius:10px ;
    margin: 1em;
    background-color: rgb(254, 254, 254);
    font-size: 9px;
    width: auto;
    height: 30em;
}
.home .Exis h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
}



.home .link{
    color: antiquewhite;
    font-size: medium;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 10px;
    background-color: orange;
    margin:0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.home .datelles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.h1Desc{
    display:none;
}
.contDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.contDesc:hover .h1Desc{
    display: flex;
}


.ContBuscarExis{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(55, 128, 128);
    padding: 1.5em;
    border-radius: 10px;
    display: flex;
    margin: 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    justify-content:space-between;
    align-items: center;
}

.ContBuscarExis .BuscarExis{
    padding: 1em;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(28, 28, 28);
}
.fondoNegro{
    background-color: rgb(40, 40, 40);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}
.ContBuscarExis .BuscarExis input{
    width: 15em;
    margin-right: 1em;
    border-radius:5px;
    background-color: rgb(76, 76, 76);
    border:none;
}
.ContBuscarExis .BuscarExis button{
    background-color: rgb(76, 76, 76);
    color: aliceblue;
    font-size: large;
    border: none;
    border-radius:50px;
}
.h1home{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    color:rgb(251, 246, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    background-color: rgb(55, 128, 128);
    margin: 0.5em;
    padding:0.5em ;
    border-radius:10px ;
}