.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: antiquewhite;
}
.home .Exis img{
    width: 50px;
}
.home .Exis {
    margin: 1em;
    background-color: aquamarine;
}
